.message-container {
  font-family: Arial, sans-serif;
}

.message-align-left {
  text-align: left;
}

.note,
.warning,
.error,
.note-link {
  font-size: 14px;
}

.note {
  color: black;
}

.warning {
  color: yellow;
}

.error {
  color: red;
}

.note-link {
  color: blue;
  text-decoration: underline;
}
